body {
  font-family: "Spline Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(63, 61, 61);
  display: inline;
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  color: rgb(63, 61, 61);
  font-size: 15px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  color: rgb(63, 61, 61);
  font-size: 15px;
  font-weight: normal;
  padding: 0;
}

small {
  font-size: 80%;
  font-weight: normal;
  text-align: left;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  background: rgba(22, 211, 195, 0.6);
  background-size: cover;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px 30px 0 30px;
}

.weather-info {
  padding: 20px 0 0 0;
}

.country {
  margin-left: 5px;
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: white;
  background: rgb(209, 59, 209);
  position: relative;
  top: -15px;
}

.weather-temperature img {
  height: 95px;
  width: 95px;
}

.weather-temperature strong {
  color: rgb(63, 61, 61);
  font-size: 95px;
  font-weight: 500;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -50px;
}

.button-icon {
  font-size: 1.5em;
  position: relative;
  top: 3px;
}

#current-location-button {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-group {
  padding: 10px 0 0 0;
}

.btn-primary {
  background-color: rgb(209, 59, 209);
  border-color: rgb(209, 59, 209);
}

.btn-primary.active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(153, 19, 153);
  border-color: rgb(145, 11, 145);
}

.btn-space {
  margin: 10px 0;
}

.forecast-button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  padding: 10px 0;
  width: 120px;
  height: 50px;
}

.card {
  background: transparent;
  border-color: transparent;
}

.weather-forecast {
  color: rgb(63, 61, 61);
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

.footer {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.7);
}

#description::first-letter {
  text-transform: uppercase;
}

#humidity,
#wind {
  color: rgb(153, 19, 153);
  font-weight: 500;
}
